{{#link-to "cars.new"}}Create Car{{/link-to}}
<hr>
{{outlet}}

<h1>Cars</h1>
<ul>
  {{!-- {{#each cars as |car|}} --}}
  {{#each this.model as |cars|}}
    <li>
      {{cars.year}} {{cars.make}} {{cars.model}} - {{#link-to "cars.edit" cars.id}}Edit{{/link-to}} -
      <button {{action "deleteCar" cars.id}}>Delete</button>
    </li>
  {{/each}}
</ul>